@using WiredBrainCoffeeAdmin.Data
@model List<Product>

    <div class="table-responsive">
<table class="table menu-items table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID #</th>
            <th>Image</th>
            <th>Category</th>
            <th>Name</th>
            <th>Short Description</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><img src="~/images/menu/@item.ImageFile" /></td>
                <td>@item.Category</td>
                <td>@item.Name</td>
                <td>@item.ShortDescription.</td>
                <td>@item.Price</td>
                <td><a class="btn btn-secondary" asp-page="EditProduct" asp-route-id="@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
</div>